@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nas";
  src: url("../fonts/nas.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  background-color: #f4f4f4;
  color: #333;
  /* line-height: 1.6; */
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  min-height: 100vh;
  background-image: url("../img/bg-index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: aliceblue;
  padding-top: 35px;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
}

.head-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}
.logo-img {
  top: 55px;
  left: 35px;
  position: absolute;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.title {
  font-family: "Nas", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}
.title span {
  font-family: "Nas", sans-serif;
  color: #5d22e6;
}
.navbar {
  padding: 10px 0;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.navbar ul li {
  font-size: 1.2rem;
}
.navbar ul li a {
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.navbar ul li a:hover {
  background-color: #5d22e6;
  color: #fff;
  border-radius: 5px;
}
